.blogImage img {
  width: 100%;
  box-shadow: 0 0 3px 1px black;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}
.articleFigcaption {
  font-size: 0.9em;
}
.articleLead {
  font-size: 1.15em;
}
.articleHeaderLink {
  display: block;
  text-align: center;
  font-size: 1.25em;
  text-decoration: none;
}

