.hubNav {
  margin: auto;
  height: 325px;
  position: relative;
  max-width: 500px;
  margin-bottom: 3.75em;
}
#lunchboxIcon {
  top: 1.5em;
  left: 1.5em;
}
#sallysIcon {
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
}
#timsIcon {
  bottom: 1.5em;
  left: 1.5em;
}
#tinasIcon {
  top: 1.5em;
  right: 1.5em;
}
#feelgoodIcon {
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
}
#legalIcon {
  bottom: 1.5em;
  right: 1.5em;
}

.missionLink {
  position: absolute;
  top: 0.5em;
  padding: 0.5em;
  text-align: center;
  border-radius: 50%;
}

.navLink a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: red;
  letter-spacing: 1px;
  font-size: 1.5em;
  font-family: "Titan One";
}

.mailLink {
  position: absolute;
  top: 0.5em;
  left: 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 50%;
}

.hubLink {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  color: rgb(30, 30, 30);
  font-size: 0.85em;
}

.hubLink a {
  cursor: pointer;
  display: block;
  width: 65px;
  text-decoration: none;
  border-radius: 50%;
}
.hubLink a img {
  width: 100%;
  display: block;
}

.missionLink {
  right: 1em;
}

.missionLink a,
.mailLink a {
  display: flex;
  flex-direction: column;
}

.missionLink a img,
.mailLink a img {
  width: 40px;
  height: 40px;
}
.returnLink {
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}

.hubLinks {
  list-style: none;
}
.hubLinks li a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
}

@media (min-width: 400px) {
  .hub-header h1 {
    font-size: 1.2em;
  }
  .hubNav {
    height: 375px;
  }
  .hubLink {
    width: 90px;
    height: 90px;
  }
  .hubLink a {
    width: 75px;
  }
}

@media (min-width: 600px) {
  .hubBtns {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hubBtn {
    max-width: 40%;
  }
  .returnLink {
    top: 1em;
  }
  .missionLink a img {
    width: 47px;
    height: 47px;
  }
}

@media (min-width: 700px) {
  .hub-header h1 {
    font-size: 1.35em;
  }
  .hub-header img {
    width: 50px;
  }
  .mailLink a img {
    width: 60px;
    height: 60px;
  }
  .missionLink a img {
    width: 65px;
    height: 65px;
  }
  .logoBrand {
    letter-spacing: 3px;
    font-size: 4em;
  }
  .hubNav {
    height: 400px;
  }
  .hubLink {
    font-size: .9em;
  }
}

@media (min-width: 1000px) {
  .hub-header h1 {
    font-size: 2em;
  }
  #feelgoodIcon {
    bottom: -3em;
  }
  #sallysIcon {
    top: -3em;
  }
  .hubNav {
    height: 425px;
  }
  .hubLink {
    width: 110px;
    height: 110px;
  }
  .hubLink a {
    width: 100px;
  }
}
