.hubNav {
  margin: 1em auto;
  height: 325px;
  position: relative;
  max-width: 500px;
  margin-bottom: 5em;
}
#lunchboxIcon {
  top: 1.5em;
  left: 1.5em;
}
#sallysIcon {
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
}
#timsIcon {
  bottom: 1.5em;
  left: 1.5em;
}
#tinasIcon {
  top: 1.5em;
  right: 1.5em;
}
#feelgoodIcon {
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
}
#legalIcon {
  bottom: 1.5em;
  right: 1.5em;
}

.missionLink {
  position: absolute;
  top: 0.75em;
  padding: 0.5em;
  text-align: center;
  border-radius: 50%;
}
.homeLink {
    width: 60%;
  position: absolute;
  top: .5em;
  left: 50%;
  transform: translateX(-50%);
  a {
    cursor: pointer;
    display: block;
    width: 100%;
    text-decoration: none;
    color: red;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-family: "Titan One";
  }
}

.mailLink {
  position: absolute;
  top: 0.5em;
  left: 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 50%;
}

.hubLink {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  letter-spacing: 1px;
  color: rgb(100, 100, 100);
  font-size: 0.85em;
  text-align: center;
}

.hubLink a {
  cursor: pointer;
  display: block;
  width: 65px;
  text-decoration: none;
  border-radius: 50%;
}
.hubLink a img {
  width: 100%;
  display: block;
}

.missionLink {
  right: 1em;
}

.missionLink a,
.mailLink a {
  display: flex;
  flex-direction: column;
}
.missionLink a img,
.mailLink a img {
  width: 40px;
  height: 40px;
}
.hubLinks {
  list-style: none;
}
.hubLinks li a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
}

@media (min-width: 400px) {
  .hubNav {
    height: 375px;
  }
  .hubLink {
    width: 90px;
    height: 90px;
  }
  .hubLink a {
    width: 75px;
  }
  .mailLink {
    top: 1em;
  }
}

@media (min-width: 600px) {
  .homeLink {
    top: .5em;
  }
  .missionLink {
    top: 1.5em;
  }
  
  .missionLink a img {
    width: 60px;
    height: 60px;
  }
  
  .mailLink a img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 700px) {
  .hubNav {
    margin-top: 2em;
    height: 400px;
  }
  .homeLink {
    width: 60%;
  }
  .homeLink a {
    font-size: 2em;
  }
  .logoBrand {
    letter-spacing: 3px;
    font-size: 4em;
  }
}

@media (min-width: 1000px) {
.missionLink {
    right: 4.5em;
  }
  .mailLink {
    left: 4em;
  }
}
