.post-header {
  padding: .5em 0;
  color: white;
  background-color: rgb(30, 30, 30);
  box-shadow: 0 0 4px 1px black;
  margin-bottom: 1em;
  h1 {
    width: 75%;
    margin: auto;
    font-size: 1em;
    text-align: center;
    letter-spacing: 2px;
  }
  #righticon,
  #lefticon {
    position: absolute;
    width: 40px;
    top: 1.5em;
  }
  #lefticon {
    left: 1em;
  }
  #righticon {
    right: 1em;
  }
}
.post {
  letter-spacing: 1px;
  a {
    color: steelblue;
  }
  blockquote {
    margin: 2em auto;
    width: 95%;
    padding: 1em;
    background-color: rgba(30, 30, 30);
    border-radius: 0.5em;
    border: 1px solid white;
  }
  &__image {
    margin: auto;
    max-width: 700px;
    margin-bottom: 2em;
    img {
      display: block;
      margin: auto;
      width: 100%;
      box-shadow: 0 0 3px 1px black;
      border-radius: 0.25em;
      margin-bottom: 0.5em;
    }
    &__caption {
      text-align: center;
      font-size: 0.9em;
    }
  }
  p {
    margin: 0.5em 0;
  }
  &__lead {
    font-size: 1.25em;
  }
  .subHeader {
    padding-top: 1em;
    font-weight: 700;
    font-size: 1.75em;
    color: steelblue;
  }
  &__link {
    margin: 2em auto;
    padding: 1em;
    max-width: 550px;
    text-align: center;
    background-color: rgb(30, 30, 30);
    border-radius: 0.5em;
    img {
      margin: 1em auto;
      display: block;
      width: 200px;
    }
    p {
      font-size: 0.9em;
    }
    a {
      display: block;
      font-size: 1.5em;
      letter-spacing: 1px;
      text-align: center;
      color: steelblue;
    }
  }
}
@media (min-width: 400px) {
  .post-header {
    h1 {
      font-size: 1.2em;
    }
  }
}
@media (min-width: 600px) {
  .post-header {
    
    h1 {
      font-size: 2em;
    }
    #righticon,
    #lefticon {
      width: 50px;
    }
  }
}

@media (min-width: 700px) {
  .post-header {
    #righticon,
    #lefticon {
      
      width: 60px;
    }
    #lefticon {
      left: 2em;
    }
    #righticon {
      right: 2em;
    }
  }
}

@media (min-width: 1000px) {
  .post-header {
    h1 {
      font-size: 2em;
    }
    #lefticon {
      left: 5em;
    }
    #righticon {
      right: 5em;
    }
  }
}
