.snippet {
  margin: 2em auto;
  max-width: 450px;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  color: white;
   background-color: rgba(30, 30, 30);
  border-radius: 0.5em;
}

.snippet__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.snippet__header article {
  width: 75%;
}

.snippet__meta {
  font-size: 0.7em;
}

.snippet img {
  display: block;
  width: 35px;
  height: 35px;
}
.snippet article a {
  display: block;
}

.snippet__body {
  margin: 0.5em 0;
  font-size: 0.9em;
}

.missionStatement p {
  color: red;
}


.hub-snippet {
  background-color: rgba(30, 30, 30);
  margin: 2em auto;
  width: 100%;
  max-width: 750px;
  color: white;
  border-radius: 0.5em;
  margin-bottom: 4em;
  &__header {
    padding: 0.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.hub-snippet__header h2 {
  padding: 0 0.25em;
  letter-spacing: 1px;
  font-family: "The Nautigal";
  font-size: 2.25em;
  color: steelblue;
}
.hub-snippet__header img {
  width: 40px;
}
.hub-snippet__header img:first-of-type {
  display: none;
}
.hub-snippet__body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-between;
  text-align: center;
  .lead {
    margin: 0.25em 0;
    font-size: 1.25em;
  }
  .highlights {
    margin: 1em auto;
    width: 90%;
    text-align: left;
    letter-spacing: 1px;
    font-size: .9em;
  }
}
.hubBtns {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.hubBtn {
  margin: 10px 0;
  background-color: whitesmoke;
  padding: 0.5em;
  width: 50%;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.85em;
  color: white;
  border-radius: 0.5em;
  background-color: steelblue;
}
.hubBtn:hover {
  background-color: blue;
}
@media (min-width: 400px) {
  .hub-header h1 {
    font-size: 1.2em;
  }
}

@media (min-width: 600px) {
  .hubBtns {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hubBtn {
    max-width: 40%;
  }
  
  .hub-snippet__header {
    justify-content: space-evenly;
  }
  .hub-snippet__header h2 {
  font-size: 3em;
  }
  .hub-snippet__header img {
  width: 55px;

  }
  .hub-snippet__header img:first-of-type {
    display: block;
  }
}

@media (min-width: 700px) {
  .hubNav {
    margin-top: 4em;
    height: 400px;
  }
}

@media (min-width: 1000px) {
  #feelgoodIcon {
    bottom: -3em;
  }
  #sallysIcon {
    top: -3em;
  }
  .hubNav {
    height: 425px;
  }
  .hubLink {
    width: 110px;
    height: 110px;
  }
  .hubLink a {
    width: 100px;
  }
}
