---
layout: "blog-full.njk"

---

<article>

  <h1>
    {{ title }}
  </h1>

  <figure>
    <img src="{{ image }}">
    <figcaption>
      {{ imageAlt }}
    </figcaption>
  </figure>

  {{ content | safe }}
  
</article>