---
layout: "hub-base.njk"
---

<article>

  <figure class="blogImage">
    <img src="{{ image }}">
    <figcaption>
      {{ imageAlt }}
    </figcaption>
  </figure>

  {{ content | safe }}
  
</article>