<header class="page-header">
  <div class="mailLink">
    <a href="mailto:freighttrainfreddie@gmail.com?subject=Hobo Hub Mail" title="Email Freddie"><img src="/assets/icons/icons8-mail-48.png" />
    </a>
  </div>
  <h1>{{ title }}</h1>
{% include "homeLink.njk" %}
</header>