<header class="page-header">
  <div class="mailLink">
    <a href="mailto:softcorpindustries@gmail.com?subject=Freight Train Freddie"><img src="/assets/icons/icons8-mail-48.png" />
    </a>
  </div>
  <h1>{{ title }}</h1>
{% include "returnLink.njk" %}
</header>