<ul class="hubLinks">
      <li class="hubLink" id="sallysIcon">
        <a href="/sallysBlog"><img src="./assets/icons/icons8-worldwide-64.png" title="Shopping Cart Sally"/></a>
      </li>
      <li class="hubLink" id="timsIcon">
        <a href="/timsBlog"><img src="./assets/icons/icons8-can-64.png"title="Tin Can Tim"/></a>
      </li>
      <li class="hubLink" id="tinasIcon">
        <a href="/tinasBlog"><img src="./assets/icons/icons8-tent-64.png" title="Tent City Tina"/></a>
      </li>
      <li class="hubLink" id="feelgoodIcon">
        <a href="/feelgoodBlog"><img src="./assets/icons/icons8-medical-64(1).png" title="Dr. Feelgood"/></a>
      </li>
      <li class="hubLink" id="lunchboxIcon">
        <a href="/larrysBlog"><img src="./assets/icons/icons8-lunch-box-64.png" title="Lunch Box Larry"/></a>
      </li>
      <li class="hubLink" id="legalIcon">
        <a href="/dchBlog"><img src="./assets/icons/icons8-scales-80.png" title="Duey Cheatem Howe"/></a>
      </li>
    </ul>