 *,
 *::after,
 *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
  font-family: "Roboto";
  font-weight: 900;
   background-image: url("./assets/Vintage Wrinkled.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
 }

 .logoBrand {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: red;
  letter-spacing: 1px;
  font-size: 3.75em;
  font-weight: 600;
  font-family: "Titan One";
 }

 .page-header {
   margin: 4.5em auto;
   text-align: center;
   letter-spacing: 1px;
   font-size: 1.25em;
   text-shadow: 0 0 3px white;
  }
  .hubNav {
    margin: auto;
    margin-top: 6em;
    height: 350px;
    position: relative;
    max-width: 700px;
    margin-bottom: 4.5em;
 }
 #sallysIcon {
  top: 35%;
  left: 2.25em;
 }
 #timsIcon {
  top: -3em;
  left: 27%;
 }
 #tinasIcon {
  top: -3em;
  right: 27%;
 }
 #feelgoodIcon {
  top: 35%;
  right: 2.25em;
 }
 #lunchboxIcon {
  bottom: -3em;
  left: 27%;
 }
 #legalIcon {
  bottom: -3em;
  right: 27%;
 }
 .navLink {
   position: fixed;
   top: 1em;
   padding: .5em;
   text-align: center;
   background-color: burlywood;
   border-radius: 50%;
   box-shadow: 0 0 4px 1px black;
 }

 .navLink a {
   cursor: pointer;
   display: block;
   width: 100%;
   text-decoration: none;
 }

 .hubLink {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
   margin: .5em 0;
   width: 90px;
   height: 90px;
   background-color: burlywood;
   border-radius: 50%;
   box-shadow: 0 0 4px 1px black;
 }

 .hubLink a {
   cursor: pointer;
   display: block;
   width: 65px;
   text-decoration: none;
 }
 .hubLink a img {
  width: 100%;
  display: block;
 }

 .missionLink {
   right: 1em;
  }
  .missionLink a {
    display: flex;
    flex-direction: column;
 }
 .missionLink a img {
  width: 50px;
 }

 .returnLink {
   left: .5em;
 }

 .hubLinks {
   list-style: none;
 }

 .hubLinks li a {
   display: block;
   padding: .25em;
   text-decoration: none;
 }

 .chapter {
   margin: 1em auto;
   padding: 1em;
   max-width: 1000px;
 }

 .chapter p {
   margin: .5em auto;
   line-height: 1.2;
   letter-spacing: 1px;
   font-size: 1.25em;
 }

 .snippet {
   padding: .75em;
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: burlywood;
   border-radius: .5em;
   box-shadow: 0 0 4px 1px black;
 }

 .snippet img {
   display: block;
   width: 125px;
   height: 125px;
   border-radius: 50%;
 }

 .missionStatement p {
   color: red;
 }

 footer {
  
   width: 100%;
   box-shadow: 0 0 4px 1px black;
 }

 footer p {
   background-color: burlywood;
   padding: 1em 0;
   text-align: center;
 }

 @media (min-width: 700px) {
  .page-header {
   margin: 3em auto;
    font-size: 1.75em;
  }
 }
 @media (min-width: 1000px) {
  .page-header {
   margin: 1.5em auto;
    font-size: 2em;
  }
 }