<header class="page-header">
  <!--
  <div class="mailLink">
    <a href="mailto:freighttrainfreddie@gmail.com?subject=Hobo Hub Mail" title="Email Freddie"><img src="/assets/icons/icons8-mail-48.png" />
    </a>
  </div>
  -->
  <div class="navMenu">
    <div class="navMenu__btn-top"></div>
    <div class="navMenu__btn"></div>
    <div class="navMenu__btn-bottom"></div>
  </div>
  <nav class="navList">
    <ul>
      <li><a href="/">The <span>HOBO HUB</span></a></li>
      <li><a href="">Contact</a></li>
      <li>
        <div class="missionLink navLink">
          {%- for mission in collections.freddiesmission -%}
            {% include "missionLink.njk" %}
          {%- endfor -%}
        </div>
      </li>
    </ul>
  </nav>
  <h1>{{ title }}</h1>
  <div id="google_translate_element"></div>
</header>