<header class="post-header">
  <img id="lefticon" src="{{ snippeticon }}" alt="">
  <h1>{{ title }}</h1>
  <div id="google_translate_element"></div>
  <img id="righticon" src="{{ snippeticon }}" alt="">
</header>