---
  title: Duey Cheatem & Howe
  layout: "base.njk"
  montra: DCH's Mission
---

<div class="missionLink navLink">
  <a href="/dchsMission" title="Duey Cheatem Howe Mission"><img src="/assets/icons/icons8-parchment-ios-16-96.png" /></a>
</div>


<section class="chapter">
  <ul>
    {%- for post in collections.dchspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>