---
  title: Duey Cheatem & Howe
  layout: "base.njk"
  montra: DCH's Mission
---

<div class="missionLink navLink">
  {%- for mission in collections.dchsmission -%}
    {% include "missionLink.njk" %}
  {%- endfor -%}
</div>


<section class="chapter">
  <ul>
    {%- for post in collections.dchspost | reverse -%}
      {% include "blog-snippet.njk" %}
    {%- endfor -%}
  </ul>
</section>