---
  title: Duey Cheatem and Howe's Mission
  layout: "base.njk"
  montra: Duey Cheatem and Howe's Mission
---

<div class="missionStatement">
  <p>hello</p>
</div>

<section class="chapter">
  <ul>
    {%- for post in collections.dchsmission | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>