---
  title: Dr. Feelgood
  layout: "base.njk"
  montra: The Feelgood Mission
---

<div class="missionLink navLink">
  <a href="/freddiesMission" title="The Dr's Mission"><img src="/assets/icons/icons8-parchment-ios-16-96.png" /></a>
</div>

{% include "returnLink.njk" %}

<section class="chapter">
  <ul>
    {%- for post in collections.drspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>