---
  title: Dr. Feelgood
  layout: "base.njk"
  montra: The Feelgood Mission
---

<div class="missionLink navLink">
  {%- for mission in collections.drsmission -%}
    {% include "missionLink.njk" %}
  {%- endfor -%}
</div>

<section class="chapter">
  <ul>
    {%- for post in collections.drspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>