---
title: Freight Train Freddie's
layout: 'base.njk'
---

<section class="hubNav">
  <h2 class="logoBrand">HOBO HUB</h2>
  {% include "hubLinks.njk" %}
</section>

<div class="missionLink navLink">
  {%- for mission in collections.freddiesmission -%}
    {% include "missionLink.njk" %}
  {%- endfor -%}
</div>

<section class="welcome">
    <p class="lead">
      Check the <span>The HUB</span>...
    </p>
    <p>
      <span>The Hub</span> is a community for sharing information on services to the homeless, low-income and needy.
    </p>
    <p>
      We have 6 NPC Guides to help you find the resources you need, We don't offer any direct services ourselves, we are but only humble guides in your journey. You can connect to them directly by clicking on the assocciated icon within <span>THE HUB</span> above or continue to their bio section below for more information.
    </p>
</section>
<section class="chapter">
<h2>NPC Guides</h2>
<section class="hubSections">
  {%- for mission in collections.mission -%}
    {% include "hub-snippet.njk" %}
  {%- endfor -%}
</section>
</section>