---
title: Freight Train Freddie's
montra: Freddie's Mission
layout: 'base.njk'
---

<div class="mailLink">
  <a href="mailto:softcorpindustries@gmail.com?subject=Freight Train Freddie"><img src="/assets/icons/icons8-secured-letter-64.png" />
  </a>
</div>
<section class="hubNav">
  <h2 class="logoBrand">HOBO HUB</h2>
{% include "hubLinks.njk" %}
</section>

<div class="missionLink navLink">
  <a href="/freddiesMission" title="Freddie's Mission"><img src="./assets/icons/icons8-parchment-ios-16-96.png" /></a>
</div>

<section class="welcome">
    <p class="lead">
      Check the <span>HUB</span>...
    </p>
    <p>
      The <span>Hub</span> is a community for sharing information to the homeless, low-income and needy.
    </p>
    <p>
      We have 6 NPC Guides to help narrow your search, we are here to help point you in a direction so you can get connected with the people or organizations's you need. We don't offer any services ourselves. We are but only humble guides in your journey.
    </p>
    <p>
      Let me introduce your Guide's.
    </p>
</section>

<section class="hubSection">
  <header class="hubSection__header">
    <img src="./assets/icons/icons8-worldwide-64.png" alt="">
    <h2>Shopping Cart Sally</h2>
    <img src="./assets/icons/icons8-worldwide-64.png" alt="">
  </header>
</section>

<section class="hubSection">
  <header class="hubSection__header">
    <img src="./assets/icons/icons8-can-64.png" alt="">
    <h2>Tin Can Tim</h2>
    <img src="./assets/icons/icons8-can-64.png" alt="">
  </header>
</section>

<section class="hubSection">
  <header class="hubSection__header">
    <img src="./assets/icons/icons8-tent-64.png" alt="">
    <h2>Tent City Tina</h2>
    <img src="./assets/icons/icons8-tent-64.png" alt="">
  </header>
</section>

<section class="hubSection">
  <header class="hubSection__header">
    <img src="./assets/icons/icons8-lunch-box-64.png" alt="">
    <h2>Lunch Box Larry</h2>
    <img src="./assets/icons/icons8-lunch-box-64.png" alt="">
  </header>
</section>

<section class="hubSection">
  <header class="hubSection__header">
    <img src="./assets/icons/icons8-medical-64(1).png" alt="">
    <h2>Dr. Feelgood</h2>
    <img src="./assets/icons/icons8-medical-64(1).png" alt="">
  </header>
</section>

<section class="hubSection">
  <header class="hubSection__header">
    <img src="./assets/icons/icons8-scales-80.png" alt="">
    <h2>Duey Cheatem & Howe</h2>
    <img src="./assets/icons/icons8-scales-80.png" alt="">
  </header>
</section>