---
title: Freight Train Freddie's
layout: 'base.njk'
---

<section class="hubNav">
  <h2 class="logoBrand">HOBO HUB</h2>
  {% include "hubLinks.njk" %}
</section>

<div class="missionLink navLink">
  {%- for mission in collections.freddiesmission -%}
    {% include "missionLink.njk" %}
  {%- endfor -%}
</div>

<section class="quickLinks">
  <div class="quickLink quickLeft dailyLink">
    <h3 class="quickLink__header">Daily Meals</h3>
    <ul>
      {%- for DailyMeals in collections.DailyMeals | reverse  -%}
        {% include "meal-snippet.njk" %}
      {%- endfor -%}
    </ul>
  </div>
  <div class="quickLink quickRight emergencyLink">
    <h3 class="quickLink__header">Emergency Links</h3>
    <ul>
      <li><a href="tel:403-266-4357">Distress Line 24 hrs</a></li>
      <li><a href="tel:403-705-3250">Elder Abuse Resource Line</a></li>
      <li><a href="tel:403-266-0707">YWCA Crisis line 24 hrs</a></li>
      <li><a href="tel:403-998-7388">DOAP Team</a></li>
    </ul>
  </div>
</section>

<section class="welcome">
    <p class="lead">
      Check the <span>The HUB</span>...
    </p>
    <p>
      <span>The Hub</span> is a community for sharing information on services to the homeless, low-income and needy.
    </p>
    <p>
      We have 6 NPC Guides to help you find the resources you need, We don't offer any direct services ourselves, we are but only humble guides in your journey. You can connect to them directly by clicking on the assocciated icon within <span>THE HUB</span> above or continue to their bio section below for more information.
    </p>
</section>

<section class="chapter">
<h2 class="chapterHeader">NPC Guides</h2>
<section class="hubSections">
  {%- for mission in collections.mission -%}
    {% include "hub-snippet.njk" %}
  {%- endfor -%}
</section>
