---
  title: Larry's Mission
  layout: "base.njk"
  montra: Larry's Missionn
---

<div class="missionLink navLink">
  {%- for mission in collections.larrysmission -%}
    {% include "missionLink.njk" %}
  {%- endfor -%}
</div>


<section class="chapter">
  <ul>
    {%- for post in collections.larryspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>