---
  title: Lunch Box Larry
  layout: "base.njk"
  montra: Larry's Missionn
---

<div class="missionLink navLink">
  <a href="/larrysMission" title="Larry's Mission"><img src="/assets/icons/icons8-parchment-ios-16-96.png" /></a>
</div>


<section class="chapter">
  <ul>
    {%- for post in collections.larryspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>