---
  title: Lunch Box Larry
  layout: "base.njk"
  montra: Larry's Missionn
---

<div class="missionLink navLink">
  <a href="/larrysMission" title="Larry's Mission"><img src="/assets/icons/icons8-parchment-ios-16-96.png" /></a>
</div>

{% include "returnLink.njk" %}

<section class="chapter">
  
</section>