---
  title: Sally's Mission
  layout: "base.njk"
  montra: Sally's Mission
---

<section class="chapter">
  <ul>
    {%- for post in collections.sallysmission | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>

</section>