.snippet {
  margin: 2em auto;
  max-width: 450px;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(30, 30, 30);
  border-radius: 0.5em;
}
.snippet__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.snippet__header article {
  width: 75%;
}
.snippet__meta {
  font-size: 0.7em;
}
.snippet__body {
  margin-bottom: 1.25em;
  font-size: 0.9em;
}
.snippet img {
  display: block;
  width: 35px;
  height: 35px;
}
.snippet article a {
  display: block;
  width: 50%;
}

.missionStatement p {
  color: red;
}

.hub-snippet {
  background-color: rgb(30, 30, 30);
  margin: 2em auto;
  width: 100%;
  max-width: 700px;
  color: white;
  border-radius: 0.5em;
  margin-bottom: 4em;
}
.hub-snippet__header {
  padding: 0.75em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hub-snippet__header h2 {
  padding: 0 0.25em;
  letter-spacing: 1px;
  font-family: "The Nautigal";
  font-size: 2.25em;
  color: steelblue;
}
.hub-snippet__header img {
  width: 40px;
}
.hub-snippet__header img:first-of-type {
  display: none;
}
.hub-snippet__body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-between;
  text-align: center;
}
.hub-snippet__body .lead {
  margin: 0.25em 0;
  font-size: 1.25em;
}
.hub-snippet__body .highlights {
  margin: 1em auto;
  width: 90%;
  text-align: left;
  letter-spacing: 1px;
  font-size: 0.9em;
}

.hubBtns {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.hubBtn {
  margin: auto;
  padding: 0.5em;
  width: 50%;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.85em;
  color: white;
  border-radius: 0.5em;
  background-color: steelblue;
}

.hubBtn:hover {
  background-color: blue;
}

@media (min-width: 600px) {
  .hubBtn {
    font-size: 1em;
    letter-spacing: 2px;
  }
  .hub-snippet__header {
    justify-content: space-evenly;
  }
  .hub-snippet__header h2 {
    font-size: 3em;
  }
  .hub-snippet__header img {
    width: 55px;
  }
  .hub-snippet__header img:first-of-type {
    display: block;
  }
  .hub-snippet__body .lead {
    font-size: 1.4em;
  }
  .hub-snippet__body .highlights {
    font-size: 1em;
  }
}
@media (min-width: 700px) {
  .hubNav {
    margin-top: 4em;
    height: 400px;
  }
}
:root {
  --primaryClr: steelblue;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hubNav {
  margin: auto;
  height: 325px;
  position: relative;
  max-width: 500px;
  margin-bottom: 5em;
}

#lunchboxIcon {
  top: 1.5em;
  left: 1.5em;
}

#sallysIcon {
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
}

#timsIcon {
  bottom: 1.5em;
  left: 1.5em;
}

#tinasIcon {
  top: 1.5em;
  right: 1.5em;
}

#feelgoodIcon {
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
}

#legalIcon {
  bottom: 1.5em;
  right: 1.5em;
}

.missionLink {
  position: absolute;
  top: 0.75em;
  padding: 0.5em;
  text-align: center;
  border-radius: 50%;
}

.homeLink {
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}
.homeLink a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: red;
  letter-spacing: 1px;
  font-size: 1.5em;
  font-family: "Titan One";
}

.mailLink {
  position: absolute;
  top: 0.5em;
  left: 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 50%;
}

.hubLink {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  letter-spacing: 1px;
  color: rgb(100, 100, 100);
  font-size: 0.85em;
  text-align: center;
}

.hubLink a {
  cursor: pointer;
  display: block;
  width: 65px;
  text-decoration: none;
  border-radius: 50%;
}

.hubLink a img {
  width: 100%;
  display: block;
}

.missionLink {
  right: 1em;
}

.missionLink a,
.mailLink a {
  display: flex;
  flex-direction: column;
}

.missionLink a img,
.mailLink a img {
  width: 40px;
  height: 40px;
}

.hubLinks {
  list-style: none;
}

.hubLinks li a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
}

@media (min-width: 400px) {
  .hubNav {
    height: 375px;
  }
  .hubLink {
    width: 90px;
    height: 90px;
  }
  .hubLink a {
    width: 75px;
  }
}
@media (min-width: 600px) {
  .homeLink {
    top: 1em;
  }
  .missionLink a img {
    width: 47px;
    height: 47px;
  }
}
@media (min-width: 700px) {
  .homeLink a {
    font-size: 2em;
  }
  .mailLink a img {
    width: 60px;
    height: 60px;
  }
  .missionLink a img {
    width: 60px;
    height: 60px;
  }
  .logoBrand {
    letter-spacing: 3px;
    font-size: 4em;
  }
  .hubNav {
    height: 400px;
    margin-bottom: 7em;
  }
  .hubLink {
    font-size: 0.9em;
  }
}
@media (min-width: 1000px) {
  .missionLink {
    top: 1em;
  }
  #feelgoodIcon {
    bottom: -3em;
  }
  #sallysIcon {
    top: -3em;
  }
  .hubNav {
    height: 425px;
  }
  .hubLink {
    width: 110px;
    height: 110px;
  }
  .hubLink a {
    width: 100px;
  }
}
.welcome {
  margin: 1em auto;
  max-width: 800px;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: white;
}
.welcome .lead {
  font-size: 1em;
  margin: 0.75em 0;
}
.welcome p {
  font-size: 0.85em;
  line-height: 1.3;
  margin-bottom: 0.5em;
}
.welcome span {
  color: red;
  font-family: "Titan One";
}

.chapter {
  margin: 5em auto;
  max-width: 800px;
}

.chapterHeader {
  color: steelblue;
  font-size: 2.25em;
  text-align: center;
}

.logoBrand {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: red;
  letter-spacing: 1px;
  font-size: 3em;
  font-weight: 600;
  font-family: "Titan One";
}

.page-header {
  padding-top: 4.75em;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  color: steelblue;
  text-shadow: 0 0 1px black;
  font-weight: 700;
  font-family: "the Nautigal";
  background-color: rgb(30, 30, 30);
  box-shadow: 0 0 4px 1px black;
}

.page-header h1 {
  padding: 0.25em 0;
  font-size: 2.5em;
  letter-spacing: 1px;
  background-color: black;
}

@media (min-width: 400px) {
  .page-header h1 {
    font-size: 3em;
  }
}
@media (min-width: 600px) {
  .page-header {
    font-size: 1.4em;
    padding-top: 3.25em;
  }
  .welcome .lead {
    font-size: 1.25em;
  }
  .welcome p {
    font-size: 0.9em;
  }
}
@media (min-width: 700px) {
  .page-header {
    width: 100%;
    padding-top: 4em;
  }
  .page-header h1 {
    font-size: 3em;
  }
  .welcome p {
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  .page-header h1 {
    font-size: 4em;
  }
}
.post-header {
  padding: 0.5em;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  background-color: rgb(30, 30, 30);
  box-shadow: 0 0 4px 1px black;
  margin-bottom: 1.5em;
}
.post-header h1 {
  margin: 0.5em 0;
  width: 70%;
  font-size: 1em;
  text-align: center;
  letter-spacing: 2px;
}
.post-header img {
  width: 30px;
}

.post blockquote {
  margin: 2em auto;
  width: 95%;
  padding: 1em;
  background-color: rgb(30, 30, 30);
  border-radius: 0.5em;
  border: 1px solid white;
}
.post__image {
  margin: auto;
  max-width: 700px;
  margin-bottom: 2em;
}
.post__image img {
  display: block;
  margin: auto;
  width: 100%;
  box-shadow: 0 0 3px 1px black;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}
.post__image__caption {
  text-align: center;
  font-size: 0.9em;
}
.post p {
  margin: 0.5em 0;
}
.post__lead {
  font-size: 1.25em;
}
.post .subHeader {
  padding-top: 1em;
  font-weight: 700;
  font-size: 1.5em;
  color: steelblue;
}
.post__link {
  margin: 2em auto;
  padding: 1em;
  max-width: 550px;
  text-align: center;
  background-color: rgb(30, 30, 30);
  border-radius: 0.5em;
}
.post__link img {
  margin: 1em auto;
  display: block;
  width: 200px;
}
.post__link p {
  font-size: 0.9em;
}
.post__link a {
  display: block;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
  color: steelblue;
}

@media (min-width: 400px) {
  .post-header h1 {
    font-size: 1.2em;
  }
}
@media (min-width: 600px) {
  .post-header {
    padding: 0.25em;
    font-size: 1.35em;
  }
  .post-header h1 {
    margin: 0.25em auto;
  }
  .post-header img {
    width: 50px;
  }
}
@media (min-width: 700px) {
  .post-header {
    font-size: 1.5em;
  }
  .post-header img {
    width: 60px;
  }
}
@media (min-width: 1000px) {
  .post-header h1 {
    font-size: 2em;
  }
}
body {
  font-family: "Roboto";
  font-weight: 900;
  background-color: black;
}

main {
  margin: auto;
  padding: 1em;
  min-height: 100vh;
  max-width: 1000px;
  color: whitesmoke;
}

footer {
  width: 100%;
  background-color: rgb(30, 30, 30);
  box-shadow: 0 0 4px 1px black;
}

footer p {
  padding: 1em 0;
  text-align: center;
  color: white;
}

@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}