 *,
 *::after,
 *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: "Roboto";
   font-weight: 900;
   background-image: url("./assets/Vintage Wrinkled.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
 }
.blogImage {
  margin: auto;
  width: 80%;
  max-width: 750px;
}
.blogImage img {
  width: 100%;
}

 .logoBrand {
   width: 100%;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   color: red;
   letter-spacing: 1px;
   font-size: 3em;
   font-weight: 600;
   font-family: "Titan One";
 }

 .page-header {
  margin-top: 5em;
   width: 100%;
   padding: 1em 0;
   text-align: center;
   letter-spacing: 1px;
   font-size: .8em;
   text-shadow: 0 0 3px white;
 }

 .hubNav {
   margin: auto;
   margin-top: 3.25em;
   height: 300px;
   position: relative;
   max-width: 500px;
   margin-bottom: 4.5em;
 }

 #sallysIcon {
   top: -2em;
   left: 50%;
   transform: translateX(-50%);
 }

 #timsIcon {
   top: 1.5em;
   left: 1.5em;
 }

 #tinasIcon {
   top: 1.5em;
   right: 1.5em;
 }

 #feelgoodIcon {
   bottom: -2em;
   left: 50%;
   transform: translateX(-50%);
 }

 #lunchboxIcon {
   bottom: 1.5em;
   left: 1.5em;
 }

 #legalIcon {
   bottom: 1.5em;
   right: 1.5em;
 }

 .missionLink {
   position: fixed;
   top: 1em;
   padding: .5em;
   text-align: center;
   background-color: burlywood;
   border-radius: 50%;
   box-shadow: 0 0 4px 1px black;
 }

 .navLink a {
   cursor: pointer;
   display: block;
   text-decoration: none;
   color: red;
   letter-spacing: 1px;
   font-size: 1.15em;
   font-family: "Titan One";
 }

 .mailLink {
   position: fixed;
   top: 1em;
   left: 1em;
   padding: .5em;
   text-align: center;
   background-color: burlywood;
   border-radius: 50%;
   box-shadow: 0 0 4px 1px black;
 }

 .hubLink {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: .5em 0;
   width: 75px;
   height: 75px;
   background-color: burlywood;
   border-radius: 50%;
   box-shadow: 0 0 4px 1px black;
 }

 .hubLink a {
   cursor: pointer;
   display: block;
   width: 50px;
   text-decoration: none;
 }

 .hubLink a img {
   width: 100%;
   display: block;
 }

 .missionLink {
   right: 1em;
 }

 .missionLink a,
 .mailLink a {
   display: flex;
   flex-direction: column;
 }

 .missionLink a img, .mailLink a img {
   width: 40px;
   height: 40px;
 }

 .returnLink {
   padding-left: .5em;
 }

 .hubLinks {
   list-style: none;
 }

 .hubLinks li a {
   display: block;
   padding: .25em;
   text-decoration: none;
 }

 .welcome span {
   color: red;
   font-family: "Titan One";
 }

 .chapter {
   margin: 1em auto;
   padding: 1.5em;
   max-width: 900px;
 }



 .snippet {
   margin: 2em auto;
   max-width: 450px;
   padding: .75em;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: burlywood;
   border-radius: .5em;
   box-shadow: 0 0 4px 1px black;
 }

 .snippet__header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: .5em;
 }

 .snippet__header article {
   width: 75%;
 }

 .snippet__title {
   font-size: 1.25em;
 }

 .snippet__meta {
   font-size: .7em;
 }

 .snippet img {
   display: block;
   width: 65px;
   height: 65px;
 }

 .snippet article {
   width: 100%;
 }

 .missionStatement p {
   color: red;
 }

 footer {

   width: 100%;
   box-shadow: 0 0 4px 1px black;
 }

 footer p {
   background-color: burlywood;
   padding: 1em 0;
   text-align: center;
 }

 @media (min-width: 400px) {
   body {
     font-size: 18px;
   }

   .hubNav {
     height: 350px;
   }

   .hubLink {
     width: 90px;
     height: 90px;
   }

   .hubLink a {
     width: 65px;
   }
 }
@media (min-width: 600px) {
  .page-header {
    font-size: 1em;
    margin-top: 1em;
    }
}
 @media (min-width: 700px) {
   .page-header {
    margin-top: 0;
     width: 100%;
     font-size: 1.4em;
   }

   .logoBrand {
     letter-spacing: 3px;
     font-size: 4em;
   }

   .hubNav {
     margin-top: 4em;
     height: 400px;
   }

   .chapter p {
     font-size: 1.35em;
   }
 }

 @media (min-width: 1000px) {
   .page-header {
     padding-top: .5em;
     font-size: 2em;
   }

   .hubNav {
     margin-top: 2.5em;
     height: 400px;
   }

   .hubLink {
     width: 110px;
     height: 110px;
   }

   .hubLink a {
     width: 80px;
   }
 }