---
  title: Tin Can Tim
  layout: "base.njk"
  montra: Tim's Mission
---

<div class="missionLink  navLink">
  <a href="/timsBlog" title="Tim's Mission"><img src="/assets/icons8-parchment-ios-16-96.png" /></a>
</div>

{% include "returnLink.njk" %}

<section class="chapter">
  
</section>