---
  title: Tin Can Tim
  layout: "base.njk"
  montra: Tim's Mission
---

<div class="missionLink  navLink">
  <a href="/timsBlog" title="Tim's Mission"><img src="/assets/icons/icons8-parchment-ios-16-96.png" /></a>
</div>

{% include "returnLink.njk" %}
<section class="welcome">
  <p class="lead">
    Hello welcome to my Blog Page, I'm Tim.
  </p>
  <p>
    We have a few sections here to choose from. We can offer you some suggestions on Temp Employment, Resume's, Clothing for Interviews and Training Center's.
  </p>
  <p>

  </p>
</section>

<section class="chapter">
  <ul>
    {%- for post in collections.timspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>