---
  title: Tent City Tina
  layout: "base.njk"
  montra: Tina's Mission
---

<div class="missionLink navLink">
  <a href="/tinasBlog" title="Tina's Mission"><img src="/assets/icons/icons8-parchment-ios-16-96.png" /></a>
</div>

{% include "returnLink.njk" %}

<section class="chapter">
  <ul>
    {%- for post in collections.tinaspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>