---
  title: Tent City Tina
  layout: "base.njk"
  montra: Tina's Mission
---

<div class="missionLink navLink">
  {%- for mission in collections.tinasmission -%}
    {% include "missionLink.njk" %}
  {%- endfor -%}
</div>

<section class="chapter">
  <ul>
    {%- for post in collections.tinaspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>